<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->

<configuration> 
  <connectionStrings>
    <clear/>
	  <add name="ConStr"
				   connectionString="Data Source=WIN-E3JMGELQ3S9\MSSQLSERVER01;Database=db_Clients_Alpha;Integrated Security=True;TrustServerCertificate=True"
				   providerName="System.Data.SqlClient"/>
	  <add name="ConStr1"
		   connectionString="Data Source=WIN-E3JMGELQ3S9\MSSQLSERVER01;Database=db_Clients_Alpha;Integrated Security=True;TrustServerCertificate=True"
		   providerName="System.Data.SqlClient"/>
	  <add name="userDb"
		   connectionString="Data Source=WIN-E3JMGELQ3S9\MSSQLSERVER01;Database=db_Clients_Alpha;Integrated Security=True;TrustServerCertificate=True"
		   providerName="System.Data.SqlClient"/>
	  <!--<add connectionString="Server=WIN-VL7FJRR01DO;Database=db_Clients_Alpha;Integrated Security=True" name="ConStr" providerName="System.Data.SqlClient"/>
	  <add connectionString="Server=WIN-VL7FJRR01DO;Database=db_Clients_Alpha;Integrated Security=True" name="ConStr1" providerName="System.Data.SqlClient"/>-->
	  <!--<add connectionString="Server=WIN-VL7FJRR01DO;Database=db_Clients_Alpha;Integrated Security=True" name="userDb" providerName="System.Data.SqlClient"/>-->

	  <!--<add connectionString="Data Source=10.0.0.2;Initial Catalog=db_Clients_Alpha;Integrated Security=True" name="ConStr" providerName="System.Data.SqlClient"/>
    <add connectionString="Data Source=10.0.0.2;Initial Catalog=db_Clients_Alpha;Integrated Security=True" name="ConStr1" providerName="System.Data.SqlClient"/>
    <add connectionString="Data Source=10.0.0.2;Initial Catalog=db_Clients_Alpha;Integrated Security=True" name="userDb" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings file="localAppSettings.config">
    <add key="GoogleAPIKey" value="AIzaSyBEER9ZmDeUM3dMK8c_6WCgNOcqfL3UG-g"/>
    <add key="googlemaps.subgurim.net" value="AIzaSyAaQLOJDlxWI38CTieCzjkvzYAra-ylAVs"/>

	  <add key="connectionstring" value="Data Source=10.0.0.2;Initial Catalog=db_Clients_Alpha;Integrated Security=True;Connect Timeout=40000;pooling='true'; Max Pool Size=32767;MultipleActiveResultSets=True"/>
    <!--<add key="ConnectionString" value="Data Source=10.0.0.2;Initial Catalog=db_Clients_Alpha;Integrated Security=True;Connect Timeout=40000;pooling='true'; Max Pool Size=32767;MultipleActiveResultSets=True"/>-->
	  
    <!--<add key="connectionstring" value="Data Source=10.0.0.2;Initial Catalog=db_Clients_Alpha;Integrated Security=True;Connect Timeout=40000;pooling='true'; Max Pool Size=32767;MultipleActiveResultSets=True"/>
    <add key="ConnectionString" value="Data Source=10.0.0.2;Initial Catalog=db_Clients_Alpha;Integrated Security=True;Connect Timeout=40000;pooling='true'; Max Pool Size=32767;MultipleActiveResultSets=True"/>-->
    <!-- Sets the skin for all RadControls to Telerik -->
    <add key="Telerik.Skin" value="Telerik"/>
    <add key="Telerik.EnableEmbeddedSkins" value="true"/>
    <add key="Telerik.EnableEmbeddedBaseStylesheet" value="true"/>
  </appSettings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <!--<healthMonitoring enabled="false">-->
      <!--<eventMappings>-->
        <!--<clear/>
        <add name="All Errors" type="System.Web.Management.WebBaseErrorEvent" startEventCode="0" endEventCode="2147483647"/>
      </eventMappings>-->
      <!--<providers>-->
        <!--<clear/>
        <add name="EventLogProvider" type="System.Web.Management.EventLogWebEventProvider"/>
      </providers>-->
      <!--<rules>-->
        <!--<clear/>
        <add name="All Errors Default" eventName="All Errors" provider="EventLogProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00"/>
      </rules>-->
    <!--</healthMonitoring>-->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Office.Interop.Excel, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="office, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="Microsoft.Vbe.Interop, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false"/>
    </httpHandlers>
    <!--<authentication mode="Forms"/>-->
    <!--  The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace. -->
    <customErrors mode="RemoteOnly" defaultRedirect="Error.htm">
      <error statusCode="404" redirect="Error.htm"/>
    </customErrors>
    <!--<trust level="Full"/>-->
    <identity impersonate="true"/>
    <globalization enableClientBasedCulture="true" uiCulture="en-US"/>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed">
      <!-- existingResponse="Replace"-->
      <remove statusCode="404" subStatusCode="-1"/>
      <remove statusCode="500" subStatusCode="-1"/>
      <remove statusCode="403" subStatusCode="-1"/>
      <error statusCode="404" path="/Error.htm" responseMode="ExecuteURL"/>
      <error statusCode="500" path="/Error.htm" responseMode="ExecuteURL"/>
      <error statusCode="403" path="/Error.htm" responseMode="ExecuteURL"/>
    </httpErrors>
    <validation validateIntegratedModeConfiguration="false"/>
    <directoryBrowse enabled="false"/>
    <httpProtocol>
      <customHeaders>
        <remove name="Y-UA-Compatible"/>
        <remove name="Google Chrome"/>
        <remove name="X"/>
        <remove name="X-Powered-By"/>
        <!--<add name="X-UA-Compatible" value="IE=EmulateIE8"/>-->
      </customHeaders>
    </httpProtocol>
    <tracing>
      <!--<traceFailedRequests>
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI" verbosity="Verbose" />
                    <failureDefinitions statusCodes="401.3-999" verbosity="Error" />
                    </traceAreas>
                  </traceFailedRequests>-->
    </tracing>
    <staticContent>
      <!--<mimeMap fileExtension=".tab" mimeType="text/plain"/>-->
    </staticContent>
  </system.webServer>
</configuration>